<!DOCTYPE html>
<html>

<head>
  <title>Trader</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <div class="container">
    <div>
      <h2>Add new Symbol</h2>
      <form action="/submit" method="POST">
        <div>
          <label for="name">Symbol Name:</label>
          <input type="text" id="name" name="name">
        </div>
        <div>
          <label for="listingDate">Listing Date:</label>
          <input type="text" id="listingDate" name="listingDate">
        </div>
        <% if(error){ %>
          <span class="error"><%= error %></span>
        <% } %>
        <button type="submit">Submit</button>
      </form>
      <form action="/restart-timeouts" method="POST" style="margin-top: 2vw;">
        <div>
          <label for="name">Restart Timeouts</label>
          <button type="submit">Restart</button>
        </div>
      </form>
    </div>
    <!-- <div>
      <form action="/buy-symbol" method="POST">
        <h2>Buy a symbol</h2>
        <div>
          <label for="symbolId">Symbol</label>
          <select id="symbolId" name="symbolId">
            <% listedSymbols.forEach( symbol=> { %>
              <option value="<%= symbol.id %>">
                <%= symbol.name %>
              </option>
            <% }); %>
          </select>
        </div>
        <div>
          <label for="quantity">Quantity</label>
          <input id="quantity" name="quantity" type="number" min="6" />
        </div>
        <button type="submit">Buy</button>
      </form>
    </div>
    <div>
      <form action="/sell-symbol" method="POST">
        <h2>Sell a symbol</h2>
        <div>
          <label for="orderId">Symbol</label>
          <select id="orderId" name="orderId">
            <% notSoldSymbols.forEach( symbol => { %>
              <option value="<%= symbol.orderId %>">
                <%= symbol.name %>
              </option>
            <% }); %>
          </select>
        </div>
        <button type="submit">Sell</button>
      </form>
    </div>
  </div> -->
</body>

</html>